
{% extends "base.html" %}

{% block content %}
<section class="section" id="features">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
              <h1>Leaderboard</h1>
              <!-- By Category: -->
              <!-- <select class="input-form" name="category" id="category" onchange="submitForm()">
                  <option value="">Overall</option>
                  {% set selected = '' %}
                  {% for category in categories %}
                  {% if category.category_id != 'DISCLAIMER' %}
                      {% if quiz_cat == category.category_id %}
                          {% set selected = 'selected' %}
                      {% endif %}
                      <option {{ selected }} value="{{ category.category_id }}">{{ category.category_id }}</option>
                      {% endif %}

                  {% endfor %}
              </select> -->
              
                     
              <table class="table table-stripe">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Score</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in quiz_details %}
                        <tr>
                            <td>{{ row.fullname.upper()}}</td>
                            <td>{{ row.username }}</td>
                            <td>{{ row.total_mark }}</td>
                            <td>{{ row.category }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
      </div>
    </div>
</section>
<script>
  function submitForm() {
      var selectedCategory = document.getElementById("category").value;

      console.log(selectedCategory);
      window.location.href = '/leaderboard?quiz_cat='+ selectedCategory;

  }
</script>
{% endblock %}