{% extends 'base.html' %}

{% block content %}

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Mi <em>{{name}}</em></h2>
                        <!-- <img src="assets/images/line-dec.png" alt=""> -->
                        <p>These images help healthcare professionals in diagnosing and treating various medical conditions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" id="tabs">
              <div class="col-lg-1">
              </div>
              <div class="col-lg-10">
                <section class='tabs-content'>
                        <article >
                            {% for post in levels %}
                            <div class="card">
                                <div class="card-body">
                                    <h4>{{post.title}}</h4>
                                    <strong>{{post.description}}</strong>
                                    <p>{{post.details}}</p>
                                </div>
                            </div> 
                            {% endfor %}
                        </article>
                </section>
              </div>
              <div class="col-lg-12" style="text-align: center;">
                <a href="/tutorial"><button class="btn btn-warning">Back to Learn</button></a>
                <a href="{{url_for('test_mi', category=name)}}"><button class="btn btn-warning">Quiz Start</button></a>
                <!-- <div class="main-button scroll-to-section">
                   Back to Learn</a>
                </div>
                <div class="main-button scroll-to-section">
                    Quiz Start</a>
                </div> -->
              </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->
    
    {% endblock %}