{% extends 'base.html' %}

{% block content %}
    <br/>
    <br/>
    <br/>
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <iframe src="{{ axial_plot }}" width="100%" height="600px%"></iframe>

                <iframe src="{{ sagittal_plot }}" width="100%" height="800px"></iframe>

                <iframe src="{{ coronal_plot }}" width="100%" height="800px"></iframe>
            </div>

        </div>
    </section>

    {% endblock %}

