{% extends 'base.html' %}

{% block content %}
    <br/>
    <br/>
    <br/>
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <iframe src="{{ axial_plot }}" width="100%" height="600px%"></iframe>

                <iframe src="{{ sagittal_plot }}" width="100%" height="800px"></iframe>

                <iframe src="{{ coronal_plot }}" width="100%" height="800px"></iframe>
            </div>
            <form method="get" action="/view_imgd">
                <label for="slice_n">Slice Number:</label>
                <input type="hidden" id="image_id" name="image_id" value="{{image_id}}">

                <input type="text" id="slice_n" name="slice_n" required>
                
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>

    {% endblock %}

